

ul#about {
    list-style: none;
    width: 900px;
}

.research-image {
    position: relative;
    padding-right: 15px;
    padding-top: 10px;
    width: 30%;
    vertical-align: middle;
    display: inline-table;
    float: left;
}

ul#about li dl {
    position: relative;
    width: 66%;
    display: inline-table;
    vertical-align: middle;
    font-size: 12px;
}

dt dd {
    font-family: Calibri;
}

dt {
    font-weight: bold;
    color: #636363;
    font-size: 2em;
    padding-bottom: 15px;
}

dd {
    font-size:1.5em;
    margin-left: 0;
}