* {
    font-family: Calibri;
}


.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper section {
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
}

.wrapper section > div {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    min-height: 220px;
}

.profile-img {
    position: relative;
    display: inline-table;
    float: left;
    padding-right: 40px;
    padding-top: 10px;
    vertical-align: middle;
}

h2 {
    font-size: 35px;
    margin-bottom: 3px;
}

dl {
    position: relative;
    float: left;
    padding-top: 8px;
    padding-bottom: 30px;
}

dt {
    font-weight: bold;
    font-size: 27px;
    padding-bottom: 10px;
}

dd {
    font-size: 18px;
    padding-bottom: 3px;
    margin-left:0;
}

ul {
    font-size: 17px;
    margin-left:-20px;
    margin-top: 5px;
}


a {
    text-decoration: none;
    color: #252525;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #636363;
}
